@media (min-width: 720px) {

    main {
        padding: 40px;
        display: block;
    }

    .hero {
        width: 100%;
        max-width: none;

        height: 600px;
        position: relative;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero img {

        height: auto;
        width: 100%;

        object-position: center;
    }

    #data,
    #weather {
        position: absolute;

        color: #000;
        padding: 30px;
        border-radius: 12px;
        width: 280px;
    }

    #data {
        top: 40px;
        left: 40px;
    }

    #weather {
        bottom: 40px;
        right: 40px;
    }

}

@media (min-width: 950px) {
    #menu {
        display: none;
    }

    nav {
        position: static;
    }

    .navigation {
        display: flex;
        flex-direction: row;

        gap: 2.8rem;
        position: static;
    }

    .navigation a {
        display: block;
        color: #fff;
        padding: 0.75rem 1rem;
        background-color: transparent;
    }

    .navigation a:hover {
        font-weight: 700;
        text-decoration: underline;
        text-decoration-color: #fffacd;
    }
}

@media (min-width: 600px) {
    .section-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .section-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 2000px) {
    .section-container {
        grid-template-columns: repeat(4, 1fr);
    }
}