@media (min-width: 600px) {
    #menu {
        display: none;
    }

    nav {
        position: static;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 2.8rem;
        position: static;
    }

    .navigation a {
        display: block;
        color: #fff;
        padding: 0.75rem 1rem;
        background-color: transparent;
    }

    .navigation a:hover {
        font-weight: 700;
        text-decoration: underline;
        text-decoration-color: #fffacd;
    }
}

@media (min-width: 600px) {

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

    footer div {
        width: 30%;
    }
}


@media only screen and (min-width: 64rem) {

    #bussiness {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}